body, html {
	background: linear-gradient(145deg, rgba(41,41,41,1) 0%, rgba(19,19,19,1) 100%) no-repeat;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: sans-serif;
	color: #fff;
}

a {
	color: #297bff;
	text-decoration: none;
	transition: color 0.15s;
	font-weight: 1000;
}

a:hover {
	color: #80b0ff;
}

a:active {
	color: #004ac2;
}