.main {
	position: absolute;
	text-align: center;
	top: calc(20vh - 5vw);
	font-size: 5vw;
}

.yt {
	color: #ff2929;
	text-decoration: none;
	transition: color 0.15s;
}

.yt:hover {
	color: #ff8080;
}

.yt:active {
	color: #c20000;
}

.name {
	color: #3eff29;
	text-decoration: none;
	transition: color 0.15s;
}

.name:hover {
	color: #8bfc7e;
}

.name:active {
	color: #16c902;
}